/* USER STYLES */
.table {
    .avatar {
        height: 80px;
        width: 80px;
    }
    .btn-link {
        color: var(--strawberry-red);
        &:hover,
        &:visited {
            color: var(--blackberry-purple);
        }
    }
}
